@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');




/*header*/

header h1 {position: fixed; top: 50px; left: 50px; z-index: 999; }
header .mopen {position: fixed; top: 50px; right: 50px; font-size: 24px; z-index: 1000;}
header .mopen:after {content: "\e91c"; font-family: xeicon !important;}
header .mopen.on:after {content: "\e921";}



nav {position: fixed; top: 50%; right: 50px; transform: translateY(-50%); z-index: 999;}
nav ul {width: 50px;}
nav ul li a {display: block; height: 16px; text-indent: -9999px; position: relative;}
nav ul li a:after {content:""; display: block; width: 10px; height: 10px; border-radius: 50%; background: lightgray;
                    position: absolute; top: 9px; right: 0; transition: 0.4s;}
nav ul li.on a:after {transform: translateX(-20px); background: dimgray;}





/*setion home*/

.intro .video_intro {overflow: hidden;}
.intro .video_intro video {width: 100%;height:100vh;object-fit: cover;}

.intro .intro_slogan {position: absolute; top: 55%; left: 49%; transform: translate(-50%, -50%); color: dimgray;
                        text-align: center;}
.intro .intro_slogan h2 {font-size: 45px; font-family: 'STIX Two Text', serif; margin-bottom: 30px;}
.intro .intro_slogan p {font-size: 18px; font-weight: 300;}





/*section profile*/

.section.profile .container {display: flex; width: 1300px; height: 600px; margin: 0 auto;}
.section.profile .container>* {flex: 1; padding: 25px 25px;}

.section.profile .container .left {position: relative;}
.section.profile .container .left img {width: 23%; margin-left: 200px; position: absolute; top: 100px; left: auto;
                                        border-radius: 50%;}
.section.profile .container .left .txt h2 {font-family: 'Noto Sans KR', sans-serif; font-size: 20px;
                                            font-weight: 300; position: absolute; top: 300px; left: auto;
                                            padding: 30px 0 0 0; margin-left: 150px;}
.section.profile .container .left .txt h2 b {font-weight: 500; font-size: 25px;}                            
.section.profile .container .left .txt p {font-family: 'Noto Sans KR', sans-serif; font-size: 14px;
                                            font-weight: 300; position: absolute; top: 400px; left: auto;
                                            padding: 10px 0 0 0; margin-left: 150px;}

.section.profile .container .right {position: relative; border-left: 1px solid rgba(100, 100, 100, 0.3);}
.section.profile .container .right div {width: 650px; height: 150px; font-family: 'Noto Sans KR', sans-serif;
                                        padding: 10px 0 0 100px;}
.section.profile .container .right div h3 {font-size: 18px; font-weight: 400px;}
.section.profile .container .right div p {font-size: 12px; font-weight: 300px; color: black;}
.section.profile .container .right div p img {width: 140px; height: 13px; margin-left: 20px;}





/*section .container*/

.section {background: white url(./img01.png);}
.section:nth-child(odd) {background: snow;}

.section .container {display: flex; width: 1300px; margin: 0 auto;}
.section .container>* {flex: 1; padding: 0 25px;}
.section .container video {width: 100%;}
.section .container .txt {color: dimgray;}
.section .container h2 {font-size: 40px; font-family: 'STIX Two Text', serif; padding: 0 40px 0 0; margin-bottom: 24px; font-weight: 500;}
.section .container p {font-size: 20px; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; line-height: 1.4; margin-bottom: 24px;}
.section .container ul {font-weight: 100; line-height: 1.4; margin-bottom: 24px;}





/*section p01, p02, p03, p05*/

.section .color {display: flex;}
.section .color li {margin-right: 20px;}
.section .color span {display: inline-block; width: 15px; height: 15px; border-radius: 50%;
                        background: #333; margin-right: 15px;}
.section .color span.ff0000 {background: #ff0000;}
.section .color span.ffff00 {background: #ffff00;}
.section .color span.blue {background: #336699;}

.section .txt i {font-size: 24px; margin-right: 10px; border-radius: 50%; background: lightgray; color: white;}

.section .txt h3 {font-size: 20px; font-weight: 500; margin-bottom: 14px; text-transform: uppercase;}
.section .txt a {display: block; width: 100px; height: 30px; line-height: 26px; text-align: center; border: 1px solid gray;}
.section .txt a:hover {background: dimgray; color: white;}

.section .txt .font {display: flex;}
.section .txt .font li {margin-right: 20px;}

.section .video_case {border: 2px dashed lightgrey; padding: 20px; position: relative; border-radius: 10px;}
.section .video_case video {border-radius: 10px;}
.section .video_case iframe {width: 100%; height: 310px; border-radius: 10px;}



/*section p03*/

.section .web {display: block; padding: 20px; border: 2px dashed lightgrey; border-radius: 10px;}
.section .web_case {height: 400px; overflow: hidden; border-radius: 10px;}
.section .web_case img {width: 100%; position: relative; transition: 2s;}
.section .web_case:hover img {transform: translateY(calc(-100% + 400px));}





/*section p04*/

.section .visual_slider {width: 1300px; margin: 0 auto; z-index: 3;}
.section .visual_slider figure {padding: 0 25px;}
.section .visual_slider img {width: 100%; border-radius: 50%;}

.section.p04 .txt h3 {position: absolute; top: 170px; left: 42.5%; font-family: 'STIX Two Text', serif; font-size: 40px;
                        color: dimgray; font-weight: 500;}

.section .slider_arrows i {position: absolute; top: 50%; left: 50%; font-size: 180px; color: rgba(100, 100, 100, 0.3);
                            z-index: 2;}

.p04 .slider_arrows i.xi-angle-right-min {margin-left: 720px;  transform: translate(-50%, -50%);}
.p04 .slider_arrows i.xi-angle-left-min {margin-left: -720px;  transform: translate(-50%, -50%);}

.section .visual_slider .slick-dots {display: flex; justify-content: center;}
.section .visual_slider .slick-dots li {width: 15px; height: 15px; background: lightgray;
                                        border-radius: 50%; margin: 20px 4px;}
.section .visual_slider .slick-dots button {display: none;}
.section .visual_slider .slick-dots li.slick-active {background: grey;}





/*section fp-auto-height info*/

.info {background: url(./img01.png)}

.section.fp-auto-height.info .container .txt h2 {margin: 25px 0; font-size: 28px;}
.section.fp-auto-height.info .container .txt p {font-size: 14px;}

.section .info_case {padding: 30px 0; margin-left: auto; width: 150px;}
.section .info_case img {width: 100%; border-radius: 50%; box-shadow: 3px 3px 3px #333;}





/*footer*/

footer address {position: fixed; bottom: 50px; left: 50px; z-index: 999;}
footer .to_top {position: fixed; bottom: 50px; right: 50px; font-size: 24px; z-index: 999;}





/*cover*/

.cover {position: fixed; top: 0; left: 0; width: 100%; height: 0%; background: rgba(50, 50, 50, 0.7);
        z-index: 999; overflow: hidden; transition: 0.8s;}

.cover.on {height: 100vh;}

.cover .container {display: flex; color: #333; width: 1300px; position: absolute; top: 50%; left: 50%;
transform: translate(-50%, -50%);}
.cover .container>* {flex: 1; padding: 0 25px;}

.cover .info_case {width: 400px; height: 400px;}
.cover .info_case img {width: 100%; height: 100%; border-radius: 100%;}

.cover .txt {color: white; line-height: 1.3;}
.cover h2 {font-family: 'STIX Two Text', serif; font-size: 50px; padding: 40px 0 0 0; margin-bottom: 24px;}
.cover p {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; padding: 20px 0; margin-bottom: 24px;
            border-bottom: 1px dotted white;}

.cover li a {display: block; line-height: 30px;}
.cover li a:before {content: "\e93f"; font-family: xeicon!important; margin-right: 15px; transition: 0.3s;}
.cover li a:after {content: "MORE"; font-size: 8px; color: lightpink; margin-left: 20px; opacity: 0;  transition: 0.3s; }

.cover li a:hover:before {margin-right: 25px;}
.cover li a:hover:after {content: "MORE"; opacity: 1;}










/*-----------------------여기 부터 768 반응형-------------------------*/










@media (max-width:768px) {





        /*header*/
        
        header h1 {position: fixed; top: 30px; left: 30px; z-index: 999;}
        header .mopen {position: fixed; top: 30px; right: 50px; font-size: 24px; z-index: 1000;}
        header .mopen:after {content: "\e91c"; font-family: xeicon !important;}
        header .mopen.on:after {content: "\e921"; color: black;}

        nav {display: none; position: fixed; top: 50%; right: 30px; transform: translateY(-50%); z-index: 999;}
        nav ul {width: 50px;}
        nav ul li a {display: block; height: 16px; text-indent: -9999px; position: relative;}
        nav ul li a:after {content:""; display: block; width: 10px; height: 10px; border-radius: 50%; background: lightgray;
                        position: absolute; top: 9px; right: 0; transition: 0.4s;}
        nav ul li.on a:after {transform: translateX(-20px); background: dimgray;}





        /*setion home*/

        .intro .video_intro {width: 100%; height: 100vh; overflow: hidden;}
        .intro .video_intro video {width: auto; height: 100vh;}

        .intro .intro_slogan {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: dimgray;
                                text-align: center; width: 100%; padding: 0 15px;}
        .intro .intro_slogan h2 {font-size: 34px; font-family: 'STIX Two Text', serif; margin-bottom: 30px;}
        .intro .intro_slogan p {font-size: 18px; font-weight: 100; line-height: 1.6;}





        /*section profile*/

        .section.profile .container {display: flex; flex-direction: column;}
        .section.profile .container>* {flex: 1; padding: 15px 25px;}

        .section.profile .container .left {width: 100%;}
        .section.profile .container .left img {width: 8%; position: absolute; top: 20px; left: -140px; border-radius: 50%;}
        .section.profile .container .left .txt h2 {font-family: 'Noto Sans KR', sans-serif; font-size: 16px;
                                                font-weight: 300; position: absolute; top: 20px; left: 60px;
                                                padding: 0 0 0 0; margin-left: 150px;}
        .section.profile .container .left .txt h2 b {font-weight: 500; font-size: 20px;}                            
        .section.profile .container .left .txt p {font-family: 'Noto Sans KR', sans-serif; font-size: 12px;
                                                font-weight: 300; position: absolute; top: 80px; left: 60px;
                                                padding: 10px 0 0 0; margin-left: 150px;}

        .section.profile .container .right { width: 100%;}
        .section.profile .container .right div {width: 100%; height: 95px; font-family: 'Noto Sans KR', sans-serif;
                                                padding: 15px 0 0 100px;}
        .section.profile .container .right div h3 {font-size: 14px; font-weight: 400px;}
        .section.profile .container .right div p {font-size: 12px; font-weight: 300px; color: black;}
        .section.profile .container .right div p img {width: 105px; height: 10px; margin-left: 20px;}





        /*section .container*/

        .section {background: white url(./img01.png);}
        .section:nth-child(odd) {background: snow;}

        .section .container {display: flex; flex-direction: column; width: auto; margin: 0 auto;}
        .section .container>* {flex: 1; padding: 0 25px;}
        .section .container video {width: 100%;}
        .section .container .txt {color: dimgray;}
        .section .container .txt h2 {font-size: 30px; font-family: 'STIX Two Text', serif; padding: 20px 40px 0 0;
                                margin-bottom: 24px; font-weight: 500;}
        .section .container .txt p {font-size: 16px; font-weight: 300; line-height: 1.4; margin-bottom: 24px;}
        .section .container ul {font-weight: 100; line-height: 1.4; margin-bottom: 24px;}





        /*section p01, p02, p03, p05*/

        .section .color {display: flex;}
        .section .color li {margin-right: 20px;}
        .section .color span {display: inline-block; width: 15px; height: 15px; border-radius: 50%;
                                margin-right: 15px;}
        .section .color span.ff0000 {background: #ff0000;}
        .section .color span.ffff00 {background: #ffff00;}
        .section .color span.blue {background: #336699;}

        .section .txt i {font-size: 24px; margin-right: 10px; border-radius: 50%; background: lightgray; color: white;}
        .section .txt h3 {font-size: 20px; font-weight: 500; margin-bottom: 14px; text-transform: uppercase;}
        .section .txt a {display: block; width: 90px; height: 27px; line-height: 27px; text-align: center; border: 1px solid dimgray;
        background: white;}
        .section .txt a:hover {background: dimgray; color: white;}

        .section .txt .font {display: flex;}
        .section .txt .font li {margin-right: 20px;}

        .section .video_case {border: 2px dashed lightgrey; padding: 10px; position: relative;}
        .section .video_case video {border-radius: 0px; border-radius: 0;}
        .section .video_case iframe {width: 100%; height: 235px;}





        .p02 i {margin-bottom: 30px;}





        /*section p03*/

        .section .web {display: block; padding: 10px;}
        .section .web_case {width: auto; height: 300px; overflow: hidden;}
        .section .web_case img {width: 100%; transition: 2s;}
        .section .web_case:hover img {transform: translateY(0);}

        .p03 .txt .color {display: none;}
        .p03 .txt .font {display: none;}
        .p03 .txt  h3 {display: none;}





        /*section p04*/

        .section .visual_slider {width: auto; margin: 0 auto; z-index: 3;}
        .section .visual_slider figure {padding: 0 25px;}
        .section .visual_slider img {width: 100%; border-radius: 50%;}
        .section.p04 .txt h3 {position: absolute; top: 110px; left: 30%; font-family: 'STIX Two Text', serif; font-size: 30px;
                color: dimgray; font-weight: 500;}

        .section .slider_arrows i {position: absolute; top: 50%; left: auto; font-size: 100px; color: rgba(100, 100, 100, 0.3);
                                z-index: 4;}

        .section .slider_arrows i.xi-angle-right-min {margin-left: 50px;  transform: translate(0, 0) rotate(0); right: -1px;}
        .section .slider_arrows i.xi-angle-left-min {margin-left: -50px;  transform: translate(0, 0) rotate(0); left: 30px;}

        .section .visual_slider .slick-dots {display: flex; justify-content: center;}
        .section .visual_slider .slick-dots li {width: 12px; height: 12px; background: lightgray;
                                                border-radius: 50%; margin: 20px 4px;}
        .section .visual_slider .slick-dots button {display: none;}
        .section .visual_slider .slick-dots li.slick-active {background: grey;}





        /*section fp-auto-height info*/
                
        .section .video_case iframe {border-radius: 10px;}
        
        .info {background: url(./img01.png);}

        .info .container .txt h2 {font-size: 24px; font-weight: 500;}
        .info .container .txt p {font-size: 14px; font-weight: 300;}

        .section .info_case img {width: 70%; border-radius: 50%;}





        /*footer*/

        footer address {position: fixed; bottom: 30px; left: 30px; z-index: 999;}
        footer .to_top {position: fixed; bottom: 30px; right: 30px; font-size: 24px; z-index: 999;}





        /*cover*/

        .cover {position: fixed; top: 0; left: 0; width: 100%; height: 0%; background: rgba(50, 50, 50, 0.7);
                z-index: 999; overflow: hidden; transition: 0.8s;}

        .cover.on {height: 100vh;}

        .cover .container {display: flex; flex-direction: column; color: #333; width: 100%; position: absolute; top: 50%; left: 50%;
                                transform: translate(-50%, -50%);}
        .cover .container>* {flex: 1; padding: 0 25px;}

        .cover .info_case img {width: 35%; height: 35%; border-radius: 50%; margin-top: 260px;}

        .cover .txt {color: white; line-height: 1.3;}
        .cover h2 {font-family: 'STIX Two Text', serif; font-size: 20px; padding: 20px 0 0 0; margin-bottom: 18px;}
        .cover p {font-family: 'Noto Sans KR', sans-serif; font-size: 12px; padding: 20px 0; margin-bottom: 18px;
                border-bottom: 1px dotted white;}

        .cover li a {display: block; line-height: 20px; font-size: 14px;}
        .cover li a:before {content: "\e93f"; font-family: xeicon!important; margin-right: 15px; transition: 0.3s;}
        .cover li a:after {content: "MORE"; font-size: 8px; color: lightsteelblue; margin-left: 20px; opacity: 0;  transition: 0.3s;}

        .cover li a:hover:before {margin-right: 25px;}
        .cover li a:hover:after {content: "MORE"; opacity: 1;}





}











